<!DOCTYPE html>
<html>

<head>

  <title>IIIT</title>

  <link rel="stylesheet" href="/css/main.css" />

</head>

<body>

  <h1>IIIT</h1>

  <div id="videos">
    <video id="localVideo" autoplay muted></video>
    <video id="remoteVideo" autoplay></video>
  </div>

  <!-- Import SocketIO for signalling -->
  <script src="/socket.io/socket.io.js"></script>

  <!-- Import WebRTC adapter for compatibility with all the browsers  -->
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  
  <!-- Import script containing WebRTC related functions -->
  <script src="js/main.js"></script>
  
</body>

</html>